:root {
    --cor-fundo: #2c2f33; 
    --cor-principal: #23272a; 
    --cor-secundaria: #7289da; 
    --cor-destaque: #99aab5; 
    --cor-texto: #ffffff; 
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
}

footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--cor-texto);
}

.texto-resultado {
    list-style-type: none; 
    padding: 0;
}
